{% load static %}
<html>

<head>
    <title>Coursework blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></link>
    <script src="https://kit.fontawesome.com/d5ddf95ef1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header class="page-header">
        <h1 id="header-title"><a href="/">Bridging Coursework blog</a></h1>
    </header>
    <div class="content container-fluid">
        <div class="row d-flex">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated %}
                    <div id="sidebar">
                        <div class="card">
                            <div class="card-header">Admin Controls</div>
                            <div class="card-body">
                            <a href="{% url 'post_new' %}" class="btn btn-secondary"><i class="fas fa-plus-square"></i>new post</a>          

                            {% block sidebar_extras %}
                            {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid text-center">
            <a href="https://github.com/jamesb456"><img src="{% static "images/GitHub-Mark-32px.png" %}"</a>

        </div>
    </footer>

</body>


</html>