{% extends 'blog/base.html' %}
{% load markdown_format %}
{% block content %}
    
    <div class="post">
        <div class="post-title centered"><h1>{{ post.title }}</h1></div>

        {% if post.author %}
            <div class="author centered">by {{ post.author }},</div>            
        {% endif %}
        {% if post.published_date %}
            <div class="date centered">
                published: {{ post.published_date }}
            </div>
        {% endif %}
        <br>
        <br>
        <p>{{ post.text| markdown | safe }}</p>
    </div>
{% endblock %}
{% block sidebar_extras%}
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-edit"></span>edit post</a>
{% endblock %}
