{% extends 'blog/base.html' %}
{% load markdown_format %}
{% block content %}
    
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <div class="post-title centered"><h1>{{ post.title }}</h1></div>
        {% if post.author %}
            <div class="author centered">by {{ post.author }},</div>            
        {% endif %}
        {% if post.published_date %}
            <div class="date centered">
                published: {{ post.published_date }}
            </div>
        {% endif %}
        <br>
        <br>
        <p>{{ post.text| markdown | safe }}</p>
    </div>
{% endblock %}
