{% load static %}
<html>
    <head>
        <title>
        {% block title%}
        {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="{% static 'css/cv.css' %}"></link>
        <script src="https://kit.fontawesome.com/d5ddf95ef1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block content%}
        {% endblock %}
    </body>
</html>