{% extends 'onlinecv/base.html' %}
{% block title %}
    Edit CV
{% endblock %}

{% block content %}
   
    <form method="POST" id="form_edit_cv" autocomplete="off">{% csrf_token %}
        <h1>Edit CV</h1>
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="fieldWrapper">
            {{ form.github_profile.errors }}
            {{ form.github_profile.label_tag }}
            {{ form.github_profile }}
        </div>
        <div class="fieldWrapper">
            {{ form.linkedin_profile.errors }}
            {{ form.linkedin_profile.label_tag }}
            {{ form.linkedin_profile }}
        </div>
        <div class="fieldWrapper">
            {{ form.personal_statement.errors }}
            {{ form.personal_statement.label_tag }}
            {{ form.personal_statement }}
        </div>
        <hr />
        <h2 id="header_education">Education</h2>
        <hr />
        {% for field in formset_qual.management_form %}
            {{ field}}
        {% endfor %}
        <div id="empty_form_qual" style="display:none">
        
            <span class="row-replace">
                {% for field in formset_qual.empty_form.visible_fields %}
                    <i class="data-replace">{{field.errors}}{{field}}</i>
                {% endfor %}
            </span>
        </div>
        <table id="table_qualifications" class="table">

            <thead class="thead-light">
                {% for field in formset_qual.empty_form.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
                    <th />
            </thead>
            <tbody id="table_body">
            {% for form in formset_qual %}
                <tr>
                {% for field in form.visible_fields %}
                    <td>{{field.errors}}{{field}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="add_qualification">Add another qualification</button>
        <hr />
        <h2 id="header_technical">Technical skills</h2>
        <hr />
        {% for field in formset_skill.management_form %}
            {{field.errors}}{{field}}
        {% endfor %}
        <div id="empty_form_skill" style="display:none">
             
            <p>
            <label for="id_skill_set-__prefix__-description">Skill __counter__:</label>
            {% for field in formset_skill.empty_form.visible_fields %}
                {{ field.errors}}
                {{ field}}
            {% endfor %}
            </p>
        </div>
        <div id="skill_set">
        {% for form in formset_skill%}
           
            <p>
            <label for="id_skill_set-{{forloop.counter0}}-description">Skill {{ forloop.counter }}:</label>
            {% for field in form.visible_fields %}
                {{ field.errors}}
                {{ field }}
            {% endfor %}
            </p>
        {% endfor %}
        </div>

        <button type="button" class="btn btn-primary" id="add_skill">Add another skill</button>

        <hr />
        <h2 id="header_employment">Employment</h2>
        <hr />
        {% for field in formset_emp.management_form %}
            {{ field }}
        {% endfor %}
        <div id="empty_form_emp" style="display:none">
            <span class="row-replace">
                {% for field in formset_emp.empty_form.visible_fields %}
                    <i class="data-replace">{{field.errors}}{{field}}</i>
                {% endfor %}
            </span>
        </div>
        <table id="table_employment" class="table">
            <thead class="thead-light">
                {% for field in formset_emp.empty_form.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
                    <th />
            </thead>
            <tbody id="table_body_emp">
            {% for form in formset_emp %}
                <tr>
                {% for field in form.visible_fields %}
                    <td>{{field.errors}}{{field}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <button type="button" class="btn btn-primary" id="add_employment">Add new employment</button>
        <hr />
        <hr />

        <div id="form-footer">
            <button type="submit" class="btn btn-secondary">Save</button>
        </div>
    </form>

    <script>

    $('#add_qualification').click(function() {
        var form_idx = $('#id_qualification_set-TOTAL_FORMS').val();
        //this code is horrible and I am disgusted that I wrote it, but its the easiest way
        $('#table_body').append($('#empty_form_qual').html().replace(/__prefix__/g, form_idx)
        .replace(/<span class="row-replace">/g,"<tr>")
        .replace(/<\/span>/g,"<\/tr>")
        .replace(/<i class="data-replace">/g,"<td>")
        .replace(/<\/i>/g,"<\/td>")
        );
        $('#id_qualification_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    $('#add_skill').click(function() {
        var form_idx = $('#id_skill_set-TOTAL_FORMS').val();
        $('#skill_set').append($('#empty_form_skill').html().replace(/__prefix__/g, form_idx)
        .replace(/__counter__/g,parseInt(form_idx)+1));
        $('#id_skill_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    $('#add_employment').click(function() {
        var form_idx = $('#id_employment_set-TOTAL_FORMS').val();
        $('#table_body_emp').append($('#empty_form_emp').html().replace(/__prefix__/g, form_idx)
        .replace(/<span class="row-replace">/g,"<tr>")
        .replace(/<\/span>/g,"<\/tr>")
        .replace(/<i class="data-replace">/g,"<td>")
        .replace(/<\/i>/g,"<\/td>")
        );
        $('#id_employment_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }); 
    </script>
{% endblock%}

    

