#form-footer{
    margin-top: 10px;
}

#form_edit_cv > h1{
    text-align: center;
    font-size: 4em;
}

#contact_information{
    font-size: 1.5em;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}